<% provide(:title, "Definitions") %>
 <div class="bg"> </div>
<div class="jumbotrond">
    
    
<h1>Definitions</h1>

<h2>What is Cyberbullying?</h2>
<div class="p1">
  <p>1) Cyberbullying is bullying that takes place using electronic technology. Electronic technology includes devices and equipment such as cell phones,
    computers, and tablets as well as communication tools including social media sites, text messages, chat, and websites.
Examples of cyberbullying include mean text messages or emails, rumors sent by email or posted on social networking sites, and embarrassing pictures,
videos, websites, or fake profiles.</p> <p>

2) Cyberbullying is the use of cell phones, instant messaging, e-mail, chat rooms or social networking sites such as Facebook and Twitter to harass, threaten 
or intimidate someone. Cyberbullying is often done by children, who have increasingly early access to these technologies. The problem is compounded by the fact
that a bully can hide behind an electronic veil, disguising his or her true identity. This secrecy makes it difficult to trace the source and encourages bullies
to behave more aggressively than they might face-to-face.</p> <p>

3) Cyberbullying can include such acts as making threats, sending provocative insults or racial or ethnic slurs, gay bashing, attempting to infect the victim's 
computer with a virus, and flooding an e-mail inbox with messages. If you are a victim, you can deal with cyberbullying to some extent by limiting computer connection 
time, not responding to threatening or defamatory messages, and never opening e-mail messages from sources you do not recognize or from known sources of unwanted communications.
More active measures include blacklisting or whitelisting e-mail accounts, changing e-mail addresses, changing ISPs, changing cell phone accounts, and attempting to trace the 
source.
Because the use of mobile and online communications has grown so rapidly and the crime is relatively new, many jurisdictions are deliberating over cyberbullying laws. However,
the crime is covered by existing laws against personal threats and harassment. In some cases, it may be advisable to inform the local police department or consult an attorney.
It is not recommended that you retaliate in kind because such behavior can lead to heightened attacks, or even civil actions or criminal charges against you.
</p> <p>
4) Cyberbullying is bullying that takes place using electronic technology. Electronic technology includes devices and equipment such as cell phones, computers, and tablets
as well as communication tools including social media sites, text messages, chat, and websites.
Examples of cyberbullying include mean text messages or emails, rumors sent by email or posted on social networking sites, and embarrassing pictures, videos, websites, or 
fake profiles.</p> 
</div>
</div>
