 <div class="bg"></div>
<div class="jumbotron">
 <h1> Welcome to Cyberbullying</h1> 

<div class="slider">
			<div class="image-slider-wrapper">
				<ul id="image_slider">
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/1.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/4.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/5.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/1.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/4.jpg"></li>
					<li><img src="https://dl.dropboxusercontent.com/u/65639888/image/5.jpg"></li>
				</ul> 		
				
<div id="b1">
<%= link_to "Read More", root_path , class:"btn btn-default" %>
</div>
<div class="pager">
	</div>
			</div>
		</div>
</div>


    
      
