<footer class="footer">

     <%= link_to "Cyberbullying  By Rishabh, Lokesh & Mayank ", root_path, id: "logo1" %> 
       
  <nav>
    <ul>
      
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>